@{
    ViewData["Title"] = "Profile";
}


@{
    ViewData["Title"] = "Home";
}

@model TwitterMVC.ViewModels.ProfileViewModel


<div id="root">
    <header class="explore-header">
        <div class="header-container home-header">
            <div class="home-nav-wrapper">
                <div class="home-navs">
                    <div class="explorer-twitter-icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="nav-items">
                        <a href="/Home" class="nav-item  nav-item-home">
                            <div class="explorer-hashtag-icon">
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="nav-text">
                                Home
                            </div>
                        </a>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-hashtag-icon">
                                <i class="fas fa-hashtag"></i>
                            </div>
                            <div class="nav-text">
                                Explore
                            </div>
                        </div>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-settings-icon">
                                <i class="far fa-bell"></i>
                            </div>
                            <div class="nav-text">
                                Notifications
                            </div>
                        </div>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-settings-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="nav-text">
                                Messages
                            </div>
                        </div>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-settings-icon">
                                <i class="far fa-bookmark"></i>
                            </div>
                            <div class="nav-text">
                                Bookmarks
                            </div>
                        </div>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-settings-icon">
                                <i class="far fa-list-alt"></i>
                            </div>
                            <div class="nav-text">
                                Lists
                            </div>
                        </div>
                        <a href="/Home/Profile" class="nav-item nav-item-active nav-item-home">
                            <div class="explorer-settings-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="nav-text">
                                Profile
                            </div>
                        </a>
                        <div class="nav-item nav-item-home">
                            <div class="explorer-settings-icon icon-round">
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <div class="nav-text">
                                More
                            </div>
                        </div>
                        <div class="nav-item nav-item-home nav-tweet-button-container">
                            <a class="nav-tweet-button">
                                <div class="sidebar-tweet-text">Tweet</div>
                                <svg viewBox="0 0 24 24" class="sidebar-tweet-button"><g><path d="M8.8 7.2H5.6V3.9c0-.4-.3-.8-.8-.8s-.7.4-.7.8v3.3H.8c-.4 0-.8.3-.8.8s.3.8.8.8h3.3v3.3c0 .4.3.8.8.8s.8-.3.8-.8V8.7H9c.4 0 .8-.3.8-.8s-.5-.7-1-.7zm15-4.9v-.1h-.1c-.1 0-9.2 1.2-14.4 11.7-3.8 7.6-3.6 9.9-3.3 9.9.3.1 3.4-6.5 6.7-9.2 5.2-1.1 6.6-3.6 6.6-3.6s-1.5.2-2.1.2c-.8 0-1.4-.2-1.7-.3 1.3-1.2 2.4-1.5 3.5-1.7.9-.2 1.8-.4 3-1.2 2.2-1.6 1.9-5.5 1.8-5.7z"></path></g></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="user-nav-wrapper">
                    <div class="user-nav user-nav-toshrink">
                        <div class="user-nav-picture-container">
                            @if (Model.CurrentUser.Avatar != null)
                            {
                                <img class="user-nav-picture" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Avatar)) />

                            }
                            else
                            {
                                <img class="user-nav-picture" src=@Model.CurrentUser.AvatarPath />

                            }
                        </div>
                        <div class="user-nav-detail user-nav-tohide">
                            <div class="user-nav-name">@Model.CurrentUser.FullName</div>
                            <div class="user-nav-username">@@@Model.CurrentUser.UserName</div>
                        </div>
                        <div class="user-nav-chevron user-nav-tohide">
                            <i data-feather="chevron-down" class="feather-chevron-down"></i>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <main class="explore-main">
        <div class="main-login-container">
            <div class="main-wrapper">
                <div class="main-container">
                    <div class="search-wrapper">
                        <div class="search-container">
                            <a href="/Home/" class="profile-left-arrow" style="margin-right:25px; cursor: pointer">
                                <i data-feather="arrow-left" class="feather-arrow-left" style="stroke-width:2px; color:rgb(29, 161, 242); "></i>
                            </a>
                            <div>
                                <div class="home-title-text">@Model.CurrentUser.FullName</div>
                                <div class="home-title-tweet-count" style="font-size: 13px; color: #8899A6;">@Model.Tweets.Count Tweet</div>
                            </div>

                            <div class="spark-icon-container">
                                <svg viewBox="0 0 24 24" class="spark-icon"><g><path d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path></g></svg>
                            </div>
                        </div>
                    </div>

                    <div class="content-container">
                        <div class="content-header content-header-home content-header-profile">
                            <div class="profile-banner">
                                @if (Model.CurrentUser.Banner != null)
                                {
                                    <img style="max-width:100%; max-height:100%; width:600px; border:none;" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Banner)) />

                                }

                            </div>
                            <div class="profile-user-detail-section">
                                <div class="profile-user-detail-header">
                                    <div class="profile-user-detail-avatar">
                                        @if (Model.CurrentUser.Avatar != null)
                                        {
                                            <img class="user-nav-avatar-img" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Avatar)) />

                                        }
                                        else
                                        {
                                            <img class="user-nav-avatar-img" src=@Model.CurrentUser.AvatarPath />

                                        }

                                    </div>
                                    <div class="profile-user-detail-edit" id="edit-profile-button"><a class="edit-profile-button">Edit Profile</a></div>
                                </div>
                                <div class="username-name-container">
                                    <div class="profile-user-detail-name">@Model.CurrentUser.FullName</div>
                                    <div class="profile-user-detail-username">@@@Model.CurrentUser.UserName</div>
                                </div>

                                <div class="profile-user-detail-date"><span><i class="far fa-calendar-alt calendar-profile"></i></span>Joined in @Model.CurrentUser.CreatedDate.ToString().Split(" ")[0]</div>
                                <div class="profile-user-detail-stats">
                                    <span class="profile-following-count">@Model.CurrentUser.Following.Count </span>
                                    <span class="profile-following-text">Following</span>
                                    <span class="profile-follower-count">@Model.CurrentUser.Followers.Count </span>
                                    <span class="profile-follower-text">Follower </span>

                                </div>

                            </div>
                        </div>
                        <div class="profile-tweet-navs">
                            <div class="profile-tweet-nav-item profile-nav-item-active">
                                <div class="profile-tweet-nav-text">
                                    Tweets
                                </div>
                            </div>
                            <div class="profile-tweet-nav-item">
                                <div class="profile-tweet-nav-text">
                                    Tweets & Replies
                                </div>
                            </div>
                            <div class="profile-tweet-nav-item">
                                <div class="profile-tweet-nav-text">
                                    Media
                                </div>
                            </div>
                            <div class="profile-tweet-nav-item">
                                <div class="profile-tweet-nav-text">
                                    Likes
                                </div>
                            </div>
                        </div>
                        @foreach (var tweet in Model.Tweets)
                        {
                            <div class="content-wrapper">
                                <div class="content content-home">
                                    <div class="user-tweet-picture-container">
                                        @if (Model.CurrentUser.Avatar != null)
                                        {
                                            <img class="user-tweet-picture" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Avatar)) />

                                        }
                                        else
                                        {
                                            <img class="user-tweet-picture" src=@Model.CurrentUser.AvatarPath />

                                        }
                                    </div>
                                    <div class="poster-tweet-container">
                                        <div class="poster-info">
                                            <span class="poster-info-fullname">@tweet.User.FullName</span>
                                            <span class="poster-info-extra">
                                                <span>@tweet.User.UserName</span>
                                                <span>&middot;</span>
                                                <span>@tweet.CreatedDate</span>
                                            </span>
                                            <div class="down-icon">
                                                <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                            </div>
                                        </div>
                                        <div class="tweet-content">
                                            @tweet.Content
                                        </div>
                                        <div class="poster-tweet-controls">
                                            <div class="comment-button">
                                                <i class="far fa-comment"></i>
                                            </div>
                                            <div class="retweet-button">
                                                <i class="fas fa-retweet"></i>
                                            </div>
                                            <div class="like-button">
                                                @if (tweet.TweetLikes.Where(tl => tl.UserId == Model.CurrentUser.Id).Count() == 1)
                                                {
                                                    <a href="@Url.Action("LikeTweet","Home", new { tweetId = tweet.Id })" style="color: rgb(224, 36, 94);">
                                                        <i class="far fa-heart"></i> @if (tweet.TweetLikes.Count != 0)
                                                        {
                                                            <text>
                                                                @tweet.TweetLikes.Count
                                                            </text>
                                                        }
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("LikeTweet","Home", new { tweetId = tweet.Id })">
                                                        <i class="far fa-heart"></i> @if (tweet.TweetLikes.Count != 0)
                                                        {
                                                            <text>
                                                                @tweet.TweetLikes.Count
                                                            </text>
                                                        }
                                                    </a>
                                                }

                                            </div>
                                            <div class="share-button">
                                                <i class="fas fa-share-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="login-wrapper">
                <div class="search-container search-container-home">
                    <div class="twitter-icon-mobile">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="search-bar search-bar-home">

                        <div class="search-icon">
                            <i data-feather="search" class="feather-search"></i>

                        </div>
                        <input class="search-input" placeholder="Search Twitter">
                    </div>
                </div>
                <div class="login-container home-trends-container">
                    <section class="login-section home-trends-section" style="margin-bottom: 20px !important;">
                        <div class="content-header home-content-header">
                            <span class="content-header-text">
                                Who to follow
                            </span>
                        </div>
                        @foreach (var item in Model.UsersToFollow)
                        {
                            <div class="user-nav  user-nav-tofollow">
                                <div class="user-nav-picture-container">
                                    @if (item.Avatar != null)
                                    {
                                        <img class="user-nav-picture" src=@("data:image/png;base64," +System.Convert.ToBase64String(item.Avatar)) />

                                    }
                                    else
                                    {
                                        <img class="user-nav-picture" src=@item.AvatarPath />

                                    }
                                </div>
                                <div class="user-nav-detail">
                                    <div class="user-nav-name">@item.FullName</div>
                                    <div class="user-nav-username">@@@item.UserName</div>
                                </div>
                                <a href="@Url.Action("FollowUser","Home", new { followedId = item.Id })" class="user-nav-follow">
                                    <span>Follow</span>
                                </a>
                            </div>
                        }

                        <div class="show-more-container home-show-more">
                            <a>
                                <div class="show-more">Show more</div>
                            </a>
                        </div>
                    </section>
                    <section class="login-section home-trends-section">
                        <div class="content-header home-content-header">
                            <span class="content-header-text">
                                Trends for you
                            </span>
                            <div class="settings-button home-content-settings">
                                <i data-feather="settings" class="feather-settings"></i>

                            </div>
                        </div>
                        <div class="content-wrapper home-content-wrapper">
                            <div class="content home-content">
                                <div class="content-first-row">
                                    <div class="trending-location">
                                        Trending in Turkey
                                    </div>
                                    <div class="down-icon">
                                        <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                    </div>
                                </div>
                                <div class="hashtag-title">#Corona</div>
                                <div class="tweet-count">55K Tweets</div>
                            </div>
                        </div>
                        <div class="content-wrapper home-content-wrapper">
                            <div class="content">
                                <div class="content-first-row">
                                    <div class="trending-location">
                                        Trending in Turkey
                                    </div>
                                    <div class="down-icon">
                                        <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                    </div>
                                </div>
                                <div class="hashtag-title">#Corona</div>
                                <div class="tweet-count">55K Tweets</div>
                            </div>
                        </div>
                        <div class="content-wrapper home-content-wrapper">
                            <div class="content">
                                <div class="content-first-row">
                                    <div class="trending-location">
                                        Trending in Turkey
                                    </div>
                                    <div class="down-icon">
                                        <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                    </div>
                                </div>
                                <div class="hashtag-title">#Corona</div>
                                <div class="tweet-count">55K Tweets</div>
                            </div>
                        </div>
                        <div class="content-wrapper home-content-wrapper">
                            <div class="content">
                                <div class="content-first-row">
                                    <div class="trending-location">
                                        Trending in Turkey
                                    </div>
                                    <div class="down-icon">
                                        <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                    </div>
                                </div>
                                <div class="hashtag-title">#Corona</div>
                                <div class="tweet-count">55K Tweets</div>
                            </div>
                        </div>
                        <div class="content-wrapper home-content-wrapper">
                            <div class="content">
                                <div class="content-first-row">
                                    <div class="trending-location">
                                        Trending in Turkey
                                    </div>
                                    <div class="down-icon">
                                        <i data-feather="chevron-down" class="feather-chevron-down"></i>

                                    </div>
                                </div>
                                <div class="hashtag-title">#Corona</div>
                                <div class="tweet-count">55K Tweets</div>
                            </div>
                        </div>
                        <div class="show-more-container home-show-more">
                            <a>
                                <div class="show-more">Show more</div>
                            </a>
                        </div>
                    </section>

                    <div class="login-nav-container">
                        <nav class="login-nav-items">
                            <a href="#"><span>Terms</span></a>
                            <a href="#"><span>Privacy Policy</span></a>
                            <a href="#"><span>Cookies</span></a>
                            <a href="#"><span>Ads Info</span></a>
                            <div>
                                <span>More</span>
                                <i data-feather="chevron-down" class="feather-chevron-down"></i>
                            </div>

                        </nav>
                        <div>
                            <span>© 2020 Twitter, Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div id="root-signup" style="display:none">
    <div class="signup-form-container edit-profile-container">
        <div class="edit-profile-header">
            <div class="close-edit-profile">
                <i data-feather="x" class="feather-x"></i>

            </div>
            <div class="edit-profile-title">Edit Profile</div>
            <div class="edit-form-submit">
                <div class="save-edit-button" onclick="submitOnClick('signup-form')">Save</div>
            </div>
        </div>
        <div class="edit-profile-banner" onclick="document.getElementById('banner-file-input').click();">
            @if (Model.CurrentUser.Banner != null)
            {
                <img style="max-width:100%; max-height:100%; width:600px; border:none;" id="banner-img-preview" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Banner)) />

            }
            else
            {
                <img style="max-width:100%; max-height:100%; width:600px; border:none; display:none" id="banner-img-preview" />
                <svg viewBox="0 0 24 24" class="banner-img-icon"><g><path d="M19.708 22H4.292C3.028 22 2 20.972 2 19.708V7.375C2 6.11 3.028 5.083 4.292 5.083h2.146C7.633 3.17 9.722 2 12 2c2.277 0 4.367 1.17 5.562 3.083h2.146C20.972 5.083 22 6.11 22 7.375v12.333C22 20.972 20.972 22 19.708 22zM4.292 6.583c-.437 0-.792.355-.792.792v12.333c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V7.375c0-.437-.355-.792-.792-.792h-2.45c-.317.05-.632-.095-.782-.382-.88-1.665-2.594-2.7-4.476-2.7-1.883 0-3.598 1.035-4.476 2.702-.16.302-.502.46-.833.38H4.293z"></path><path d="M12 8.167c-2.68 0-4.86 2.18-4.86 4.86s2.18 4.86 4.86 4.86 4.86-2.18 4.86-4.86-2.18-4.86-4.86-4.86zm2 5.583h-1.25V15c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.25H10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h1.25V11c0-.414.336-.75.75-.75s.75.336.75.75v1.25H14c.414 0 .75.336.75.75s-.336.75-.75.75z"></path></g></svg>


            }
        </div>
        <div class="profile-user-detail-avatar edit-profile-avatar" onclick="document.getElementById('avatar-file-input').click();">
            @if (Model.CurrentUser.Avatar != null)
            {
                <img class="user-nav-avatar-img edit-profile-avatar-img" id="avatar-img-preview" src=@("data:image/png;base64," +System.Convert.ToBase64String(Model.CurrentUser.Avatar)) />

            }
            else
            {
                <img class="user-nav-avatar-img edit-profile-avatar-img" id="avatar-img-preview" src=@Model.CurrentUser.AvatarPath />

            }
            <svg viewBox="0 0 24 24" class="avatar-img-icon"><g><path d="M19.708 22H4.292C3.028 22 2 20.972 2 19.708V7.375C2 6.11 3.028 5.083 4.292 5.083h2.146C7.633 3.17 9.722 2 12 2c2.277 0 4.367 1.17 5.562 3.083h2.146C20.972 5.083 22 6.11 22 7.375v12.333C22 20.972 20.972 22 19.708 22zM4.292 6.583c-.437 0-.792.355-.792.792v12.333c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V7.375c0-.437-.355-.792-.792-.792h-2.45c-.317.05-.632-.095-.782-.382-.88-1.665-2.594-2.7-4.476-2.7-1.883 0-3.598 1.035-4.476 2.702-.16.302-.502.46-.833.38H4.293z"></path><path d="M12 8.167c-2.68 0-4.86 2.18-4.86 4.86s2.18 4.86 4.86 4.86 4.86-2.18 4.86-4.86-2.18-4.86-4.86-4.86zm2 5.583h-1.25V15c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.25H10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h1.25V11c0-.414.336-.75.75-.75s.75.336.75.75v1.25H14c.414 0 .75.336.75.75s-.336.75-.75.75z"></path></g></svg>

        </div>

        <form enctype="multipart/form-data" asp-controller="Home" asp-action="EditForm" method="post" class="login-form" id="signup-form">
            <input type="file" name="banner" id="banner-file-input" style="display:none"/>
            <input type="file" name="avatar" id="avatar-file-input" style="display:none"/>

            <div class="email-username email-2 edit-profile-form-input">
                <label class="input-label">
                    <div>
                        <div class="tag-container">
                            <span class="input-tag">Name</span>
                        </div>
                    </div>
                    <div>
                        <input type="text" name="name" class="email-username-input" value="" required />
                    </div>
                </label>
            </div>
            <div class="email-username email-2 edit-profile-form-input">
                <label class="input-label">
                    <div>
                        <div class="tag-container">
                            <span class="input-tag">Bio</span>
                        </div>
                    </div>
                    <div>
                        <textarea type="text" name="bio" class="email-username-input" value=""></textarea>
                    </div>
                </label>
            </div>

            <div class="email-username email-2 edit-profile-form-input">
                <label class="input-label">
                    <div>
                        <div class="tag-container">
                            <span class="input-tag">Location</span>
                        </div>
                    </div>
                    <div>
                        <input type="text" name="location" class="email-username-input" value="" required />
                    </div>
                </label>
            </div>
            <div class="password pass-2 edit-profile-form-input">
                <label class="input-label">
                    <div>
                        <div class="tag-container">
                            <span class="input-tag">Website</span>
                        </div>
                    </div>
                    <div>
                        <input type="text" name="website" class="password-input" value="" required />
                    </div>
                </label>
            </div>


        </form>
    </div>
</div>
<div class="backdrop" id="backdrop" style="display:none; height: 100%; width: 100%">

</div>
<script>
    function readBannerURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#banner-img-preview').show().attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function readAvatarURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar-img-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#banner-file-input").change(function () {
        $(".banner-img-icon").hide();

        readBannerURL(this);
    });
    $("#avatar-file-input").change(function () {
        $(".avatar-img-icon").hide();

        readAvatarURL(this);
    });

    const editProfileButton = document.getElementById("edit-profile-button");
    const backdrop = document.getElementById("backdrop");

    editProfileButton.addEventListener("click", function () {
        console.log("footer-signup");
        const signUpModal = document.getElementById("root-signup");

        const body = document.querySelector("body");
        body.style.overflow = "hidden";
        signUpModal.style.display = "flex";
        backdrop.style.display = "block";
    })


    backdrop.addEventListener("click", function () {
        const signUpModal = document.getElementById("root-signup");
        console.log("footer-backdrop")

        signUpModal.style.display = "none";
        backdrop.style.display = "none";
    })
    function submitOnClick(formName) {
        document.forms[formName].submit();
    }
    feather.replace()
</script>
